*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
}

body{
    font-size: 1.8rem;
    margin-bottom: 10rem;
}

/* Header */

.header{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    align-items: center;

    padding: 1rem;

    background-color: #1d1e20;
}

a {
    text-decoration: none;
    color: white;

    text-transform: uppercase;
}

/* Nav */

.menu {
    display: flex;
    gap: 5rem;
    padding: 2rem;
}

.menu li a {
    display: block;
}


ul{
    list-style: none;
    color: white;
}

/* css Flex-box */

h1{
    text-align: center;
    margin-top: 5rem;
}


.cards {
    display: flex;
    flex-wrap: wrap;
    max-width: 80rem;
    margin: 0 auto;
}

.cards > div {
    flex: 1 1 20rem;
    margin: 1rem;
}

img{
    max-width: 100%;
    display: block;
}

/* css Grid */

.cards-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    max-width: 78rem;
    margin: 0 auto;
    gap: 2rem;
}

.cards-grid > div:nth-child(n + 4) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    align-items: center;
}

.cards-grid > div.card-anuncio{
    grid-column: 1;
    grid-row: 2 / 5;
    border: 2px solid black;

    text-align: center;
    justify-content: center;

    display: block;
}

/* media */

@media (max-width: 600px) {
    .cards-grid {
        grid-template-columns: 1fr 1fr;
    }

    .cards-grid > div:nth-child(n + 4) {
        display: block;
    }

    .cards-grid > div.card-anuncio{
        grid-column: auto;
        grid-row: auto;
    }

}

/* Css Grid Two */

.cards-grid-two{
    display: grid;
    grid-template-columns: 1fr 20rem;
    grid-gap: 2rem;
    max-width: 80rem;
    padding: 1rem;
    margin: 0 auto;
}

.card-grid-two > div {
    margin-bottom: 1rem;
}